*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    margin: 20px 150px;
    background-color: #49a30031;
}

.container{
    margin: auto;
    max-width: 700px;
    background-color: white;
    padding: 15px 30px;
    border-radius: 25px;
}

h1{
    color: #48A300;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
}
h1 span{
    color: #61481C;
}
h2{
    margin-block: 20px;
    display: flex;
    font-size: 30px;
}
h2 img{
    width: 40px;
    margin-left: 15px;
}

.para1{
    color: rgba(0, 0, 0, 0.491)
}
.para2{
    color: red;
    font-size: 14px;
}
.para3{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.inputText{
    width: 100%;
    background-color: transparent;
    border: 0px solid transparent;
    padding-inline: 15px;
    font-size: 20px;
    font-weight: 500;
}
.inputCheck{
    display: none;
    accent-color: #48A300 !important;
    height: 18px;
    width: 18px;
    cursor: pointer;
}
/* 
.inputCheck:disabled{
    background-color: #3e2b0a !important;
    accent-color: #48A300 !important;

}
 */

.inputText:focus{outline: none;}

.goalInput{
    display: flex;
    align-items: center;
    height: 60px;
    margin-block: 30px;
    border: 1px solid rgba(117, 109, 109, 0.67);
    border-radius: 10px;
    padding-left: 20px;

}
.button, .button2{
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 100px;
    height: 35px;
    background-color: blue;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.bar{
    margin-block: 20px;
    background-color: #77f41053;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}
.gridBar{
    text-align: center;
    color: white;
    padding-top: 12px;
    font-size: 18px;
}
footer{
    position: fixed;
    bottom: 1%;
    right: 1%;
    font-size: 12px;
    font-family: cursive;
}
.container2{
    display: none;
    color: #3e2b0a;
    font-weight: 600;
    text-align: center;
    font-size: 35px;
    padding-block: 20px;
    line-height: 55px;
}
button:hover{transform: scale(1.2);}

.paraBar{
    color: white;
}


.button2{
    width: 240px;
    background-color: #d44764;
    color: rgba(255, 255, 255, 0.975);
    margin-block: 40px 0;
}


@media (max-width: 800px) {
    .container{max-width: 500px;}
    body{ margin: 20px 60px;}
    h1{ font-size: 32px;}

    h2{ font-size: 22px;}
    h2 img{ width: 30px;}

    .para1, .para2{font-size: 14px;}

    .inputText{ 
        padding-top: 10px;
        font-size: 16px;
    }
    .goalInput{
        height: 40px;
    }
    .button{
        width: 70px;
        height: 30px;
        font-size: 20px;
    }
    .bar{
        height: 30px;
    }
    .gridBar{
        font-size: 12px;
    }

    .container2{
        font-size: 30px;
        line-height: 38px;
    }
    .container2 p{
        margin-block: 18px;
    }
}


@media (max-width: 500px) {
    .container{max-width: 400px;}
    body{ margin: 20px 30px;}
    h1{ font-size: 25px;}

    h2{ font-size: 18px;}
    h2 img{ width: 25px;}
    .bar{
        height: 20px;
    }
    .gridBar{
        font-size: 10px;
    }
}