*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(167, 174, 169);
}

.startPage{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.startNow{
    background-color: #35BD3A;
    padding: 10px 20px;
    border: 1px solid #35BD3A;
    box-shadow: 4px 4px 0 1px #0b860f;
    font-size: 2.5vw;
    cursor: pointer;
}
.headingQuizStart{
    width: 35%;
}

.quizPages{
    background-color: #c7fdae;
    width: 700px;
    height: 100vh;
    margin: auto;
    padding: 40px 80px;
}

.headQuizPage{
    display: flex;
    height: 9vh;
    justify-content: space-between;
}




.audioImg{
    width: 30px;
    cursor: pointer;

}

.volumeMute{
    display: none;
}




.queCount{
    display: block;
    text-align: right;
    margin-block: 10px;
    padding: 5px 10px;
}
.queCountSpan{
    background-color: #FEC33D;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}

.question{
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}
.time{
    text-align: right;
    padding: 8px;
    margin-right: -9px;
    margin-block: 8px;
    
}
.timeSpan{
    background-color: #35BD3A;
    color: white;
    padding: 8px;
    border-radius: 6px;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
}

.answerContainer{
    background-color: white;
    padding: 2px 15px;
}
.answer{
    border-radius: 6px;
    border: 2px solid rgba(208, 203, 203, 0.806);
    margin-block: 20px;
    padding: 4px 20px;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.checkImg img{
    width: 18px;
    margin-top: 4px;
    margin-left: 10px; 
}
.correctCheckImg{
    display: none;
}

.wrongCheckImg{
    display: flex;
    align-items: center;
    font-size: 12px;
    display: none;
}

.next{
    margin-top: 15px;
    text-align: right;
}
.nextSpan{
    color: #01AB08;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.score{
    text-align: center;
    margin-top: 30px;
}
.score button{
    color: white;
    background-color: #0808d1;
    border: 2px solid rgb(7, 13, 201);
    font-size: 22px;
    border-radius: 15px;
    padding: 2px 10px;
    cursor: pointer;
}
.error{
    color: red;
    font-size: 18px;
    text-align: center;
    display: none;
}




.progress-bar{
    width: 50vw;
    height: 80px;
    background-color: rgba(240, 73, 73, 0.908);
    border-radius: 15px;
    margin: 0 auto;
    /* padding-bottom: 20px; */
    display: flex;
    align-items: center;
}

.progress-value {
    display: inline-block;
    height: 100%;
    background-color: #3e57e8;
    border-radius: 15px;
    font-size: 10px;
    color: #eeffe0;
    /* display: flex;
    align-items: center; */
    overflow: hidden;
    transition: width 0.7s ease-in-out;
    font-size: 20px;
    font-weight: 600;
    /* padding-inline: 10px; */
}

/* .progress-value span{
    display: inline-block;
} */
.firstPercent{
    display: inline-block;
    margin-top: 25px;
    padding-left: 5px;

}
.secondPercent{
    text-align: right;
    color: #eeffe0;
    font-size: 20px;
    font-weight: 600;
    /* padding-right: 5px; */
}
.resultPage{
    display: none;
    background-color: #dcdcaa;
    height: 100vh;
    padding-top: 40px;
}

.resultImg{
    width: 30%;
    display: block;
    margin: auto;
}
.resultPage h1{
    text-align: center;
    font-size: 3vw;
    margin-bottom: 40px;
}
.quotesResult{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.ansCount{
    text-align: center;
    margin-block: 5px 50px;
    font-weight: 600;
}
.retryButton{
    display: block;
    margin: auto;
    margin-top: 50px;
    background-color: #01AB08;
    color: white;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #2fd835;
    padding: 8px 20px;
    border-radius: 20px;
}

.heightScore{
    font-size: 3.2vw;
    margin-block: 60px;
    font-weight: 600;
    color: #0921f9;
}

.clearLocal{
    background-color: #dfea0d;
    border: 2px solid #0b0b04;
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.QuizContainer{
    display: none;
}
.quizPages{
    display: none;
}
.close-startPage.startPage{
    display: none;
}

.show-quizPages.quizPages{
    display: block;
}

.show-QuizContainer.QuizContainer{
    display: block;
}
.show-wrongCheckImg.wrongCheckImg{
    display: flex;
}
.show-correctCheckImg.correctCheckImg{
    display: block;
}

.red-border.answer{
    border: 2px solid red;
}
.green-border.answer{
    border: 2px solid green;
}

.show-mute.volumeMute{
    display: block;
}
.close-up.volumeUp{
    display: none;
}


.yellow-quizPage.quizPages{
    background-color: #f3f2ac;
}
.yellow-quizPage.quizPages .timeSpan{
    background-color: #f3b21a;
}
.yellow-quizPage.quizPages .nextSpan{
    color: #eaa608;
}
.red-quizPage.quizPages{
    background-color: #dc9993;
}
.red-quizPage.quizPages .timeSpan{
    background-color: #e82f1e;
}
.red-quizPage.quizPages .nextSpan{
    color: #e90909;
}

/* .show-score.score{
    display: block;
} */
.show-error.error{
    display: block;
}


.show-resultPage.resultPage{
    display: block;
}







/* .show-quizPages.quizPages{
    display: none;
} */