*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: whitesmoke;
}

.div1{
    position: fixed;
    width: 310px;
    min-width: 300px;
    height: 100%;
    border-right: solid rgba(0, 22, 22, 0.4);
}
.div1 h2{
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.704);
    padding-bottom: 20px;
    margin-bottom: 5px;
}

.div1 nav{
    overflow-y: scroll;
    max-height: 100vh;
}
.div1 a{
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.704);
    display:block;
    text-decoration: none;
    padding: 15px 25px;
    color: black;
}

.div2{
    position: absolute;
    margin-left: 350px;
    margin-right: 20px;
    line-height: 24px;
    letter-spacing: 1px;
}
code{
    color: rgba(255, 255, 255, 0.84);
    background-color: rgb(45, 8, 113);
    display: inline-block;
    white-space: pre-wrap;
    margin: 10px 50px;
    padding: 20px;
}
.div2 h2{
    margin-top: 40px;
}

@media (max-width: 750px){
    .div1{
        position: fixed;
        /* top: 0px; */
        width: 100%;
        max-height: 250px;
        z-index: 1;
    background-color: whitesmoke;
    border-bottom: 2px solid black;
    }
    .div1 h2{
        position: fixed;
        top: -25px;
        width: 100%;
        background-color: whitesmoke;
        padding-top: 15px;
        border-bottom: 2px solid black;
    }
    .div1 nav{
        position: fixed;
        top: 60px;
        overflow-y: scroll;
        max-height: 190px;
        width: 100%
    }
    .div1 a{
        font-size: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.704);
        display:block;
        text-decoration: none;
        padding: 10px 25px;
        color: black;
    }
    .div2{
        position: absolute;
        top: 230px;
        margin-inline: 30px;
        line-height: 24px;
        letter-spacing: 1px;
    }

}